.statstrack html body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, progress,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.statstrack {
  width: 400px;
  font-family: 'Barlow', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

.fundingTracker {
  background-color: #FBFBFA;
  display: flex;
  flex-direction: column;
}

.progressBar {
  -webkit-appearance: none;
  appearance: none;
  height: 3px;
  width: 90%;
  margin-bottom: 15px;
}

.progressBar::-webkit-progress-bar {
  background-color: #E9E9E9;
}

.progressBar::-webkit-progress-value {
  background-color: #027462;
}

.supertext {
  font-weight: 500;
  font-size: 22px;
}

.subtext {
  color: #656969;
  font-size: 14px;
  font-weight: 400;
}

.backingButton {
  background-color: #009E74;
  border: 0;
  color: #FFF;
  height: 50px;
  font-size: 16px;
  margin: 20px 0;
  width: 90%;
}

.backingButton:hover {
  background-color: #027C62
}

.pledgedAmount {
  composes: supertext;
  color: #009E74;
  margin: 5px 0;
}

.goalAmount{
  composes: subtext;
}

.backerCount {
  composes: supertext;
  color: #000;
  margin-top: 15px;
}

.backers {
  composes: subtext;
  margin: 10px 0;
}

.deadline {
  color: #0F0;
  margin-top: 5px;
}

.remaining {
  composes: supertext;
  color: #000;
}

.units {
  composes: subtext;
  margin: 10px 0;
}
