.container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas:
    "img img img fundWidget"
    "updates updates updates rewards"
    "comments comments comments .";
  margin: 12%;
}

.dummyImg {
  grid-area: img;
}

#FundingWidget {
  grid-area: fundWidget;
}

#Updates {
  grid-area: updates;
}

#Rewards {
  grid-area: rewards;
}

#Comments {
  grid-area: comments;
}
