.wrapper {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
}

.contentWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.horizontalMargin {

}

.verticalMargin {
  height: 50px;
}
